

{% extends 'index.html' %}
{% load static %}
{% block content %}


<style type="text/css">
  .card-password-reset{
    margin:150px ;
    
    max-width:485px;
    

    padding:30px;
  }
  
</style>

<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='card card-password-reset'>
      <div class='card-body'>
        <div class='d-flex flex-column my-4'>
          <h1 class='m-auto'>Reset Password</h1>
        </div>
        <form id="id_password_reset_form" method="POST" class="form-signin">{% csrf_token %}
            <input name="email" class="form-control my-3" placeholder="Email address" type="email" id="id_email" required="true" >
        <div class='d-flex flex-column m-4'>
            <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block m-auto" >Send reset email</button>
        </div>  
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}