{% extends 'index.html' %}
{% load static %}
{% block content %}

<style type="text/css">
  .card-password-Confirm{
    margin:150px ;
    
    max-width:485px;
    border-radius:30px;

    padding:30px;
  }
 
</style>

<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='card card-password-Confirm'>
      <div class='card-body'>
      {% if validlink %}
        <div class='d-flex flex-column my-4'>
          <h1 class='m-auto'>Enter New Password</h1>
        </div>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form id="id_password-Confirm_form" method="POST" class="form-password-Confirm">{% csrf_token %}
            <p>New Password</p>
            {{form.new_password1}}
            {%if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <p style='color:red'>{{ error }}</p>
                {% endfor %}
            {%endif%}
            <p>Comfirm Password</p>
           {{form.new_password2}}
           {%if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <p style='color:red'>{{ error }}</p>
                {% endfor %}
            {%endif%}
            <div class='d-flex flex-column m-4'>
            <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block m-auto"type='submit' >Change my Password</button>
        </div>  
        </form>
        {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}


