{% extends 'index.html' %}

{% block content %}
<main class="auth layout">

  
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Smart Spender</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}
          {% if forms.non_field_errors %}
                <div style='color:red'>
                    <p>{{forms.non_field_errors}}</p>
                </div>
            {% endif %}
          <div class="form__group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Enter Your Email" required/>
          </div>
          <div class=" form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your Password" required/>
          </div>

          <button class="btn btn--main" type="submit" style='color:#71c6dd'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
              <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>

            Login
          </button>
          <div>
            <label >Haven't sign up?</label>
            <a href="{% url 'sign_up_screen' %}" style="text-decoration: none;">Sign up now</a>
          </div>
          <div>
            <label >Forgot Your Password?</label>
            <a href="{% url 'password_reset' %}" style="text-decoration: none;">Click Here</a>
          </div>
        </form>
      </div>
    </div>
        
</main>
{% endblock content %}